.buttons-cell {
	text-align:right;	
}

.table-container {
	margin-top:50px;
}

td {
	vertical-align:middle!important;
}

.business-title-area {
  padding:10px;
  background-color:#c41200;    
  color:white;
  font-size:1.3em;
  border-radius: 10px 10px 0 0;
}

.business-title {
  margin-right:20px;
}

.rating-text {
  font-size:1.2em;
  font-weight:bold;
}

.fav-button {
  float:right;
}

